<div class="modal-header" style="position: relative;    padding: 5px;
bottom: 21px;">
  <h5 class="modal-title" id="exampleModalLongTitle">Employee Tracking Edit</h5>

  <button type="button" class="close" mat-dialog-close aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="card ">
    <div class="card-header text-center">
      Add
    </div>
    <div class="card-body">
  <div>
    <div>
        <div class="form-group">
            <label for="usr">Location Text:</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="form-group">
            <label for="pwd">Latitude</label>
            <input type="text" class="form-control" id="latitude">
          </div>
          <div class="form-group">
            <label for="longitude">Longitude</label>
            <input type="text" class="form-control" id="longitude">
          </div>
          <div>
            <!-- <input type="submit"> -->
            <button _ngcontent-xyl-c233="" type="button"  class="btn btn-secondary"> Submit</button>
            
          </div>
          
          


    </div>
  
    <!-- <table style=" width: 100%;">
    
      <tr *ngFor = "let item of service_completed">
        <td>{{item.service_name}}</td>
        <td class="text-center">:<span class="pl-1">{{item.count}}</span></td>
        
      </tr>
    
    </table>  -->
    </div>
    
      <!-- <p class="card-text"></p>
      <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    <!-- <div class="card-footer text-muted">
      2 days ago
    </div> -->
  </div>
  <!-- <p-table  styleClass="ui-table-customers"
  >
  
  <ng-template pTemplate="header">
          <tr class="thhead" >
              <th>Time</th>
              <th>Job Status</th>
              </tr>
              <tr class="tdrow">
                      <td>{{time}}</td>
                      <td>{{status}}</td>
                      </tr>
  </ng-template>
  
  
  
  </p-table> -->