

<section class="pb-4">
    <div class="page-header">
        <div>
            <h2 class="main-content-title tx-24 mb-1"></h2>
            <!-- <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="dashboard">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">App User Management</li>
                </ol> -->
        </div>
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-primary" (click)="printComponent('component1')"><i
                    class="fas fa-download"></i>
                Download</button>
        </div>

    </div>
    <div class="container" id="component1">
        <div class="row bg" class="border border-secondary pd-4" style="background: white;color: black;">
            <div class="col"></div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 center font-weight-normal ">
                    <h2 class="main-content-title tx-24 mb-1">JOHNSON LIFTS PRIVATE LIMITED</h2>
                    <p>{{branch_name}}</p>
                    <!-- <p> ORISSA 751015 PH- 0674-2554638, 3270085,2354238</p> -->
                </div>
                <div class="col-4 sic"><img src="../../../../assets/images/logo.PNG" alt="" style="width: 50%;"></div>
            </div>
            <div class="row">
                <div class="col-4">

                </div>
                <div class="col-8 ">
                    <h2 class="main-content-title tx-24 mb-1 pd">ACCEPTANCE FORM</h2>
                </div>
            </div>
            <!-- <div class="row">
            <div class="col-12 p-4">
                <h2 class="main-content-title tx-24 mb-1 border border-primary center bg1">BREAKDOWN SERVICE DETAILS
                </h2>
            </div>
        </div> -->
            <div class="row">
                <div class="col-12 pl-5 pr-5">
                    <div class="row  border border-secondary ">
                        <div class="col-12">
                            <div class="row justify-content-center" style="background-color: #006598;">
                                <h2 class="main-content-title tx-24 mb-1 pt-1" style="color: white;">PARTS REPLACEMENT
                                    ACKNOWLEDGEMENT</h2>
                            </div>
                            <div class="row">
                                <div class="col-6">

                                    <div class="row">

                                        <div class="col-5">

                                            <h2 class="main-content-title tx-24 mb-1 pt-1">JOB NO </h2>


                                        </div>
                                        <div class="col-1">


                                            <h2 class="main-content-title tx-24 mb-1 pt-1">: </h2>

                                        </div>
                                        <div class="col-6">


                                            <h2 class="main-content-title tx-24 mb-1 pt-1">{{job_no}} </h2>

                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-5">

                                            <p class="main-content-title tx-20 mb-1 pt-1">Customer</p>



                                        </div>
                                        <div class="col-1">

                                            <p class="main-content-title tx-20 mb-1 pt-1">:</p>



                                        </div>
                                        <div class="col-6">

                                            <p class="main-content-title tx-20 mb-1 pt-1">{{customer_name}}</p>



                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-5">

                                            <p class="main-content-title tx-20 mb-1 pt-1">Customer Address1</p>


                                        </div>
                                        <div class="col-1">

                                            <p class="main-content-title tx-20 mb-1 pt-1">:</p>


                                        </div>
                                        <div class="col-6">

                                            <p class="main-content-title tx-20 mb-1 pt-1">{{address1}}</p>


                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-5">

                                            <p class="main-content-title tx-20 mb-1 pt-1">Customer Address2</p>


                                        </div>
                                        <div class="col-1">

                                            <p class="main-content-title tx-20 mb-1 pt-1">:</p>


                                        </div>
                                        <div class="col-6">

                                            <p class="main-content-title tx-20 mb-1 pt-1">{{address2}}</p>


                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-5">

                                            <p class="main-content-title tx-20 mb-1 pt-1">Customer Address3</p>


                                        </div>
                                        <div class="col-1">

                                            <p class="main-content-title tx-20 mb-1 pt-1">:</p>


                                        </div>
                                        <div class="col-6">

                                            <p class="main-content-title tx-20 mb-1 pt-1">{{address3}}</p>


                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-5">

                                            <p class="main-content-title tx-20 mb-1 pt-1">Customer Address4</p>


                                        </div>
                                        <div class="col-1">

                                            <p class="main-content-title tx-20 mb-1 pt-1">:</p>


                                        </div>
                                        <div class="col-6">

                                            <p class="main-content-title tx-20 mb-1 pt-1">{{address4}}</p>


                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-5">

                                            <p class="main-content-title tx-20 mb-1 pt-1">Customer Pin </p>


                                        </div>
                                        <div class="col-1">

                                            <p class="main-content-title tx-20 mb-1 pt-1">:</p>


                                        </div>
                                        <div class="col-6">

                                            <p class="main-content-title tx-20 mb-1 pt-1">{{pin}}</p>


                                        </div>
                                    </div>


                                </div>
                                <div class="col-6">


                                    <div class="row">

                                        <div class="col-5">

                                            <h2 class="main-content-title tx-24 mb-1 pt-1">MR NO </h2>


                                        </div>
                                        <div class="col-1">


                                            <h2 class="main-content-title tx-24 mb-1 pt-1">: </h2>

                                        </div>
                                        <div class="col-6">


                                            <h2 class="main-content-title tx-24 mb-1 pt-1">{{mr_number}} </h2>

                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-5">

                                            <h2 class="main-content-title tx-24 mb-1 pt-1">REF NUMBER </h2>


                                        </div>
                                        <div class="col-1">


                                            <h2 class="main-content-title tx-24 mb-1 pt-1">: </h2>

                                        </div>
                                        <div class="col-6">


                                            <h2 class="main-content-title tx-24 mb-1 pt-1">{{ref_number}} </h2>

                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-5">

                                            <p class="main-content-title tx-20 mb-1 pt-1">Date</p>


                                        </div>
                                        <div class="col-1">

                                            <p class="main-content-title tx-20 mb-1 pt-1">:</p>


                                        </div>
                                        <div class="col-6">

                                            <p class="main-content-title tx-20 mb-1 pt-1">{{date | date: 'medium'}}</p>


                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-5">

                                            <p class="main-content-title tx-20 mb-1 pt-1">Time reported </p>


                                        </div>
                                        <div class="col-1">

                                            <p class="main-content-title tx-20 mb-1 pt-1">:</p>


                                        </div>
                                        <div class="col-6">

                                            <p class="main-content-title tx-20 mb-1 pt-1">{{time_reported | date: 'medium'}}</p>


                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-5">

                                            <p class="main-content-title tx-20 mb-1 pt-1">Time left</p>


                                        </div>
                                        <div class="col-1">

                                            <p class="main-content-title tx-20 mb-1 pt-1">:</p>


                                        </div>
                                        <div class="col-6">

                                            <p class="main-content-title tx-20 mb-1 pt-1">{{time_left | date: 'medium'}}</p>


                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-5">

                                            <p class="main-content-title tx-20 mb-1 pt-1">Service Type</p>


                                        </div>
                                        <div class="col-1">

                                            <p class="main-content-title tx-20 mb-1 pt-1">:</p>


                                        </div>
                                        <div class="col-6">

                                            <p class="main-content-title tx-20 mb-1 pt-1">{{serv_type}}</p>


                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row pt-5 pb-4">

                <div class="col-12 pl-5 font-weight-normal ">
                    <h2>Please note that we have supplied and replaced the following materials :<span class="pl-1">{{comp_number}}</span></h2>
                    <p pt-2 style="color:#213e99"> SCHMERSAL MAKE FSR & MAIN LIMIT SWITCH ASSY NC TYPE
                        ZV7H236-11Z-1058/2138
                    </p>

                </div>

            </div>

            <!-- <div class="row">
            <div class="col-6 p-4">
                <h2 class="main-content-title tx-24 mb-1 border border-primary center bg1">FEEDBACK REMARKS
                </h2>
            </div>
            <div class="col-6 p-4">
                <h2 class="main-content-title tx-24 mb-1 border border-primary center bg1">SIGNATURE
                </h2>
            </div>
        </div> -->
            <div class="row pb-3 pt-4">
                <div class="col-6 pl-5 pr-5">
                    <div class="row  border border-secondary ">

                        <div class="col-12 ht " >
                            <div class="row justify-content-center" style="background-color:#006598;">
                                <h2 class="main-content-title tx-24 mb-1 pt-1 " style="color: white;">MATERIAL DETAILS
                                </h2>
                            </div>
                            <!-- <h2 class="main-content-title tx-24 mb-1 pt-1">REMARKS</h2> -->
                            <div class="row"*ngFor = "let title of mat_data">
                                <div class="col-12">
                                    <!-- <p class="main-content-title tx-20 mb-1 pt-1">Type of Breakdown &nbsp; :<span
                                        class="fl"> {{type_of_bd}}</span></p>
                                <p class="main-content-title tx-20 mb-1 pt-1">Breakdown Status &nbsp; :<span
                                        class="fl"> {{bd_status}}</span></p>
                                <p class="main-content-title tx-20 mb-1 pt-1">Areas of Breakdown &nbsp; :<span
                                        class="fl"> {{areas_of_bd}}</span></p> -->
                                    <div class="row">

                                        <div class="col-5">
                                            <p class="main-content-title tx-20 mb-1 pt-1">Material ID </p>



                                        </div>
                                        <div class="col-1">
                                            <p class="main-content-title tx-20 mb-1 pt-1">:</p>



                                        </div>
                                        <div class="col-6">
                                            <p class="main-content-title tx-20 mb-1 pt-1">{{title.mr_id}}</p>



                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-5">

                                            <p class="main-content-title tx-20 mb-1 pt-1">Material Quantity</p>

                                            <p class="main-content-title tx-17 mb-1 pt-1" style="font-weight:100">(As
                                                per the respective Material ID’s
                                                above)
                                            </p>

                                        </div>
                                        <div class="col-1">

                                            <p class="main-content-title tx-20 mb-1 pt-1">:</p>



                                        </div>
                                        <div class="col-6">

                                            <p class="main-content-title tx-20 mb-1 pt-1">{{title.part_quantity}}</p>



                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-5">

                                            <p class="main-content-title tx-20 mb-1 pt-1">MRSEQ Number</p>


                                        </div>
                                        <div class="col-1">

                                            <p class="main-content-title tx-20 mb-1 pt-1">:</p>


                                        </div>
                                        <div class="col-6">

                                            <p class="main-content-title tx-20 mb-1 pt-1">{{title.mrseq_no}}</p>


                                        </div>
                                    </div>
<hr>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-6 pl-5 pr-5">
                    <div class="row border border-secondary ">

                        <div class="col-12 ht">
                            <div class="row justify-content-center" style="background-color:#006598;">
                                <h2 class="main-content-title tx-24 mb-1 pt-1" style="color: white;">SIGNATURE</h2>
                            </div>
                            <!-- <h2 class="main-content-title tx-24 mb-1 pt-1">SIGNATURE</h2> -->
                            <div class="row">
                                <div class="col-6">
                                    <img src="{{customer_signature}}" alt="" style="width: 50%;">
                                    <!-- <p class="main-content-title tx-20 mb-1 pt-1">Date : {{signature_date}} -->
                                    <p class="main-content-title tx-20 mb-1 pt-1">Customer Signature</p>
                                    <!-- <p class="main-content-title tx-20 mb-1 pt-1">Date : {{signature_date}}</p> -->
                                </div>
                                <div class="col-6">
                                    <img src="{{mec_sign}}" alt="" style="width: 50%;">
                                    <!-- <p class="main-content-title tx-20 mb-1 pt-1">Date : {{signature_date}} -->
                                    <p class="main-content-title tx-20 mb-1 pt-1">Johnson Representative Signature</p>
                                    <!-- <p class="main-content-title tx-20 mb-1 pt-1">Date : {{signature_date}}</p> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2 pl-5">
                <div class="col-6 ht">
                    <div class="row pt-2">
                        <div class="col-1">
                            <h3>Date</h3>
                        </div>
                        <div class="col-1">
                            <h3>:</h3>
                        </div>
                        <div class="col-10 pt-1">{{date | date: 'medium'}}</div>
                    </div>

                </div>
                <div class="col-6">
                    <!-- <div class="row pt-2 justify-content-center">
                        <h3 style="font-family: cursive;">{{tech_name}}</h3>
                   
                    </div> -->
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-2"></div>
                <div class="col-8 center font-weight-normal ">
                    <p>CAUTION : IF DOOR OPEN KEY IS USED,ENSURE THAT DOOR IS FULLY CLOSED.</p>
                    <p pt-2> Regd. Office : No.1, East Main Road, Anna Nagar West Extension, Chennai - 600 101.</p>
                    <p>WEBSITE: www.Johnsonliftsltd.com,PH:261520003/4/5/6</p>
                </div>
                <div class="col-2 "></div>
            </div>
        </div>
    </div>

</section>